.add-and-search {
    display: flex;
    flex-flow: row nowrap; 
    justify-content: space-between;
    align-items: center;
}

.create-new-list-btn, .show-control-panel-btn {
    margin-top: 45px;
    padding: 20px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 13px;
    background-image: linear-gradient(to right, #ebadae 0%, #e5a6ae 51%, #d89aa7 100%);
    border: 2px;
    font-size: 1.5rem;
    cursor: pointer;
    width: 25%;
    height: 70px;
}


.create-new-list-btn:hover, .show-control-panel-btn:hover {
    background-position: right center; /* change the direction of the change here */
}

.search-bar {
  margin-top: 35px;
  position: relative;
  width: 25%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.add-and-search input {
    padding: 8px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 10px #ff7c7c, 0 0 0 5px;
    flex: 4 0 80%;
}

.search-input-img {
  top: 6px;
  left: 195px;
  height: 25px;
  width: 25px;
  position: absolute;
}

.clear-search-btn {
  margin-left: 5%;
  background-image: linear-gradient(to right, #ebadae 0%, #e5a6ae 51%, #d89aa7 100%);
  position: relative;
  border-radius: 13px;
  cursor: pointer;
  flex: 1 0 20%;
}

.clear-search-btn-img {
  height: 30px;
  width: 30px;
  position: absolute;
  cursor: pointer;
  left: 8%;
  top: 13%; 
}

.forWrapList {
  margin-bottom: 60px;
}

@media (max-width: 2500px) {
  .search-input-img {
    left: 250px;
  }

  .search-input-img {
    left: 71%;
  }

  .clear-search-btn {
    flex: 1 0 12%;
  }
  
  .clear-search-btn-img {
    left: 12%;
  }
}

@media (max-width: 1900px) {
  .search-input-img {
    left: 192px;
  }
}

@media (max-width: 1760px) {
  .search-input-img {
    left: 176px;
  }

  .clear-search-btn {
    flex: 1 0 13%;
  }
  
  .clear-search-btn-img {
    left: 13%;
  }
}

@media (max-width: 1600px) {
  .search-input-img {
    left: 150px;
  }

  .clear-search-btn {
    flex: 1 0 20%;
  }
  
}

@media (max-width: 1537px) {
  .search-input-img {
    left: 145px;
  }

}

@media (max-width: 1400px) {
  .search-input-img {
    left: 142px;
  }

}


@media (max-width: 1200px) {
  .create-new-list-btn, .show-control-panel-btn {
    padding: 10px 25px;
  }

  .search-input-img {
    left: 142px;
  }

}

@media (max-width: 1127px) {
  .search-input-img {
    left: 135px;
  }

  .clear-search-btn {
    flex: 1 0 25%;
  }

}

@media (max-width: 992px) {
  .search-input-img {
    left: 142px;
  }

  

}

@media (max-width: 801px) {
  .search-input-img {
    left: 142px;
  }

  .clear-search-btn {
    flex: 1 0 30%;
  }

}


@media (max-width: 641px) {
  .add-and-search {
    flex-flow: row wrap; 
  }

  .create-new-list-btn, .show-control-panel-btn {
    margin-top: 35px;
    width: 45%;
    height: 85px;
  }

  .search-bar {
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 10px;
    width: 98%;
  }

  .add-and-search input {
    flex: 4 0 80%;
    font-size: 2rem;
}

  .search-input-img {
    top: 21%;
    left: 70%;
  }

  .clear-search-btn {
    flex: 1 0 16%;
  }
  
  .clear-search-btn-img {
    left: 25%;
    top: 17%;
  }

}

