.back-to-lists-block {
    margin-top: 35px;
    position: relative;
}

.back-to-lists-btn {
    font-size: 2rem;
    background-color:green;
    padding: 15px;
    padding-left: 45px;
    border-radius: 13px;
    color: white;
}

.back-navigational-icon-container {
    position: absolute;
    top: 0px;
    left: 5px;
    width: 30px;
    height: 30px;
}

.back-navigational-icon {
    width: 100%;
    height: 100%;
    display: block;
}

.heading-in-list {
    font-size: 4rem;
}

.subtitle-in-list {
    margin-top: 20px;
    font-size: 2.5rem;
    text-align: center;
}

.heading-in-list, .subtitle-in-list {
    word-break: break-all;
}

.add-and-control {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 10px;
}

.add-item-btn, .show-control-pan-btn {
    font-size: 1.5rem;
    text-align: center;
    background-image: linear-gradient(to right, #ebadae 0%, #e5a6ae 51%, #d89aa7 100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 13px;
    padding: 20px 25px;
    border-radius: 13px;
    cursor: pointer;
    text-transform: uppercase;
    border: 2px;
    width: 25%;
}


.buy-items-btn:hover {
    background-position: right center; /* change the direction of the change here */
}


.forWrapItem {
    margin-bottom: 60px;
}



@media (max-width: 641px) {
  
    .heading-in-list {
        margin-top: 45px;
    }

    .add-item-btn, .show-control-pan-btn {
        width: 45%;
    }

}